[Unit]
Description=ESP filesystem check and boot file integrity guard
DefaultDependencies=no
After=initrd-fs.target
Before=initrd.target

[Service]
Type=oneshot
ExecStart=/usr/lib/frzr/frzr-esp-guard
